$blue : #0057b7;
$yellow: rgb(255, 215, 0);
$dark-grey: #666666;

body{
    color: $dark-grey;
}

nav {
    background-color: #0057b7;
}

.navbar-light .navbar-brand .navbar-title {
    text-transform: uppercase;
    color: $yellow !important;
    font-weight: bold;
    text-decoration: none;
} 

.navbar-logo {
    max-width: 40vh;
}

main h3{
    color: $blue;
}

main h5 {
    color: $blue;
    opacity: 0.6;
}

#welcome h2{
    font-weight: bold;
    color: $blue
}

.nav-link {
    color: white!important;
}

.nav-link:hover {
    color: $yellow!important;
}

.nav-link.btn{
    margin: 2%;
    align-items: center;
}

.btn {
    color: $blue!important;
    background-color: $yellow;
    outline-style: solid;
    outline-color: $yellow; 
}

.btn:hover{
    color: white!important;
    background-color: $blue;
}

main {
    align-items: center;
    justify-content: center;
    margin: 5%;
}

.card {
    margin-top: 5%;
}

.card-title {
    color: $blue;
}

.form-label {
    color: $blue;
}

a.card{
    text-decoration: none;
}

main b {
    color: #0057b7;
}

main h1 {
    color: #0057b7;
    font-size: 10vh;
    text-shadow: 5px 5px rgba(255, 215, 0, 0.4);
}

form#submission {
    margin-inline: 5%;
    max-width: 800px;
}